<!-- Created By : Sangwin Gawande (http://sangw.in) -->

<div class="w3-container" *ngIf="registerForm">
	<form class="w3-container" [formGroup]="registerForm" (ngSubmit)="doRegister()">
		<div class="w3-panel w3-green">
			<p>User Details</p>
		</div> 

		<label class="w3-text-blue"><b>First Name</b></label>
		<input class="w3-input w3-border" type="text" formControlName="firstname">
		<div class="w3-panel w3-red"  *ngIf="registerForm.controls.firstname.invalid && (registerForm.controls.firstname.dirty || registerForm.controls.firstname.touched)">Please enter 3 to 50 characters</div> 

		<label class="w3-text-blue"><b>Last Name</b></label>
		<input class="w3-input w3-border" type="text" formControlName="lastname">
		<div class="w3-panel w3-red"  *ngIf="registerForm.controls.lastname.invalid && (registerForm.controls.lastname.dirty || registerForm.controls.lastname.touched)">Please enter  3 to 50 characters </div> 

		<label class="w3-text-blue"><b>Email Address</b></label>
		<input class="w3-input w3-border" type="text" formControlName="email">
		<div class="w3-panel w3-red"  *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">Please enter valid email address</div> 

		<label class="w3-text-blue"><b>Phone</b></label>
		<input class="w3-input w3-border" type="number" formControlName="phone">
		<div class="w3-panel w3-red"  *ngIf="registerForm.controls.phone.invalid && (registerForm.controls.phone.dirty || registerForm.controls.phone.touched)">Please enter valid phone number</div> 

		<label class="w3-text-blue" ><b>Password</b></label>
		<input class="w3-input w3-border" type="password" formControlName="password">
		<div class="w3-panel w3-red"  *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">Password must be at least 6 characters long, and contain a number</div> 
		<br>
		<button class="w3-btn w3-blue" type="submit" [disabled]="!registerForm.valid">I'm Done</button>

	</form>
</div>

<!-- Created By : Sangwin Gawande (http://sangw.in) -->